@import '~bootstrap/scss/bootstrap';

body {
  background-color: lightgray;
}
// entire container
.container-fluid {
  background-color: lightgray;
}
// main page image
.img-thumbnail {
  max-width: 80%;
  max-height: 400px;
  object-fit: fill;
  background-color: lightgray;
  // background-color: grey;
}
// sign-in
.si {
  text-decoration: underline;
  margin-left: 50px;
}
#sign-in {
  margin-right: 300px;
  margin-bottom: 25px;
  border: black solid 1px;
}
.si1 {
  margin: 5px;
}
.sibutton {
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 25px;
}
// sign-up
.su {
  text-decoration: underline;
}
#sign-up {
  margin-right: 300px;
  margin-bottom: 25px;
  border: black solid 1px;
}
.su1 {
  margin: 5px;
}
.subutton {
  margin-top: 10px;
  margin-left: 50px;
}
#0 {
  font-size: large;
}
